.set-flex-center {
  display: flex;
  justify-items: center;
  align-items: center;
}
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  line-height: 120%;
  font-family: 'Montserrat', sans-serif;
  color: #23303C;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0 auto;
}
.container {
  max-width: 249rem;
  padding: 0 14.84375%;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: #23303C;
}
.menu-list {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0;
  gap: 0 6rem;
}
.menu-list__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #23303C;
  font-style: normal;
  text-transform: uppercase;
}
.container.border-bottom {
  border-bottom: 1px solid #AD896C;
}
.icon-search:before,
.icon-user:before,
.icon-shopping-bag:before {
  font-size: 2rem;
  color: #23303C;
  font-weight: 500;
}
.header {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.3rem;
  padding-bottom: 3.2rem;
}
.header .icon-hidden {
  display: none;
}
.header .icon-hidden .icon-menu {
  font-size: 2.4rem;
  font-weight: 600;
  color: #23303C;
}
.header-left {
  width: 85%;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0 5.72916667%;
}
.header-left .header-logo {
  width: 40%;
}
.header-left .header-logo img {
  width: 100%;
  max-width: 28rem;
}
.header-left .menu {
  width: 60%;
}
.header-right {
  width: 15%;
  display: flex;
  justify-content: end;
}
.header-right .menu {
  gap: 0 2rem;
  display: flex;
  justify-items: center;
  align-items: center;
}
.header-right .menu-list {
  gap: 0 2rem;
}
.header-right .menu .auth-language {
  display: flex;
  justify-items: center;
  align-items: center;
}
.header-right .menu .auth-language p {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #23303C;
}
.header-right .menu .auth-language a .icon-chevron-down::before {
  font-size: 1.2rem;
  color: #23303C;
  font-weight: 600;
}
.main-title {
  width: 100%;
  text-align: center;
}
.main-title h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 5rem;
  color: #AD896C;
  margin: 0;
  line-height: 150%;
}
.main-title p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #23303C;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: 0.1rem;
  line-height: 150%;
}
.main-title__small {
  width: 100%;
}
.main-title__small h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 3.2rem;
  color: #fff;
  margin: 0;
  padding: 2rem 0;
  line-height: 120%;
}
.main-link {
  position: relative;
}
.main-link a {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0 1rem;
}
.main-link p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #AD896C;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.main-link::after {
  content: '\e914';
  position: absolute;
  font-family: 'icomoon';
  font-size: 2rem;
  color: #AD896C;
  font-weight: 500;
  top: 50%;
  right: 35%;
  transform: translate(0, -50%);
}
.main-list {
  display: flex;
  justify-items: center;
  align-items: center;
}
.main-list .main-item {
  position: relative;
}
.main-list .main-item .main-content {
  position: absolute;
  padding: 3.5%;
  bottom: 0;
}
.main-row .banner {
  position: relative;
  width: 100%;
}
.main-row .banner img {
  width: 100%;
}
.main-row .banner-link {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}
.main-row .banner-link a {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0 2rem;
}
.main-row .banner-link a p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #AD896C;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.main-row .banner-link a .icon-play::before {
  font-size: 1.8rem;
  color: #AD896C;
  font-weight: 500;
}
.main-row .menu.logos {
  padding: 3% 0;
}
.main-row .menu.logos .owl-carousel .owl-stage {
  display: flex;
  justify-items: center;
  align-items: center;
}
.main-row .menu.logos .owl-carousel .owl-stage .menu-list img {
  width: 100%;
}
.main-row .best-sellers {
  max-width: 130.5rem;
  background-image: url('../image/banner/best-sellers.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 6%;
  padding-left: 7%;
  padding-top: 5.2%;
  width: 93%;
}
.main-row .best-sellers .list-product {
  width: 80%;
  max-width: 93rem;
  gap: 0 3%;
}
.main-row .best-sellers .list-product .owl-item .myproduct {
  max-width: 29rem;
  width: 100%;
  background-color: #fff;
}
.main-row .best-sellers .list-product .owl-item .myproduct img {
  width: 95%;
}
.main-row .our-fabrics {
  width: 100%;
  margin-top: 4%;
  margin-bottom: 6%;
}
.main-row .our-fabrics .main-item {
  width: 100%;
  max-width: 36rem;
}
.main-row .our-fabrics .main-item .main-content {
  width: 90%;
  max-width: 36rem;
  padding: 10%;
}
.main-row .our-fabrics .main-item img {
  width: 100%;
  object-fit: contain;
}
.main-row .feature-new {
  width: 100%;
  margin-top: 4%;
  margin-bottom: 6%;
}
.main-row .feature-new .list-product {
  width: 100%;
}
.main-row .feature-new .list-product .owl-item .myproduct {
  max-width: 31.31 0.5rem;
  width: 100%;
  background-color: #fff;
}
.main-row .feature-new .list-product .owl-item .myproduct img {
  padding-top: 1%;
  width: 95%;
}
.main-row .share {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.main-row .share .main-list .main-item {
  position: relative;
  width: 100%;
  max-width: 40rem;
  max-height: 40rem;
}
.main-row .share .main-list .main-item::before {
  content: '@aljedaietextiles';
  position: absolute;
  width: 100%;
  padding: 2rem 0;
  max-width: 15rem;
  max-height: 4rem;
  bottom: 0;
  right: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
  background-color: rgba(5, 6, 22, 0.6);
  text-align: center;
}
.main-row .share .main-list .main-item img {
  width: 100%;
  object-fit: contain;
}
.main-row.guide,
.main-row.about {
  margin-bottom: 4%;
}
.main-row.guide .container,
.main-row.about .container {
  display: flex;
}
.main-row.guide .container img,
.main-row.about .container img {
  width: 55%;
  max-width: 80rem;
  object-fit: contain;
}
.main-row.guide .container .main-col,
.main-row.about .container .main-col {
  width: 50%;
}
.main-row.guide .container .main-col .main-content,
.main-row.about .container .main-col .main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main-row.guide .container .main-col .main-content p,
.main-row.about .container .main-col .main-content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #23303C;
  width: 80%;
  max-width: 43rem;
  line-height: 150%;
  text-align: justify;
}
.main-row.guide .container .main-col .main-link,
.main-row.about .container .main-col .main-link {
  width: 80%;
  max-width: 43rem;
}
.main-row.guide .container .main-col .main-link p,
.main-row.about .container .main-col .main-link p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #AD896C;
  max-width: 50%;
}
.main-row.guide .container .main-col .main-link::after,
.main-row.about .container .main-col .main-link::after {
  right: 50%;
}
.main-row.guide .main-title,
.main-row.about .main-title {
  text-align: start;
  margin-bottom: 5%;
}
.main-row.guide .main-content {
  justify-content: end;
}
.main-row.about .main-content {
  justify-content: start;
}
.main-row .container.benefits {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main-row .container.benefits .main-col {
  width: 33%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 0 3rem;
  padding: 5% 0;
}
.main-row .container.benefits .main-col .icon-globe,
.main-row .container.benefits .main-col .icon-credit-card,
.main-row .container.benefits .main-col .icon-calendar {
  position: relative;
  width: 30%;
  max-width: 6rem;
  height: 6rem;
  border-radius: 100rem;
  background: rgba(173, 137, 108, 0.05);
  box-shadow: inset 2px 4px 9px rgba(173, 137, 108, 0.2);
}
.main-row .container.benefits .main-col .icon-globe::before,
.main-row .container.benefits .main-col .icon-credit-card::before,
.main-row .container.benefits .main-col .icon-calendar::before {
  position: absolute;
  font-size: 2.4rem;
  color: #AD896C;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-row .container.benefits .main-col .main-title {
  width: 65%;
  text-align: start;
}
.main-row .container.benefits .main-col .main-title h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 2.2rem;
  color: #AD896C;
  margin: 0;
  line-height: 150%;
}
.main-row .container.benefits .main-col .main-title p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #23303C;
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: 0.1rem;
  line-height: 150%;
  text-transform: inherit;
}
.footer {
  margin-bottom: 7.5rem;
  background-color: #F9F9F9;
}
.footer .container {
  width: 100%;
  display: flex;
  gap: 0 6%;
}
.footer-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #23303C;
  text-transform: uppercase;
  margin: 0;
}
.footer-content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #23303C;
  margin: 0;
  margin-top: 1rem;
  line-height: 130%;
}
.footer-input {
  width: 100%;
  margin-top: 2rem;
}
.footer-input input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #23303C;
  width: 100%;
  max-width: 30rem;
  padding-left: 1.6rem;
  padding-top: 1rem;
  padding-bottom: 0.9rem;
  opacity: 0.5;
  border: 1px solid rgba(35, 48, 60, 0.5);
  outline: none;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-row .container {
  margin-top: 4rem;
}
.footer-row.border-bottom {
  border-bottom: 1px solid #AD896C;
}
.footer-row .menu {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 4.1rem;
}
.footer-row .menu .icon-facebook::before,
.footer-row .menu .icon-twitter::before,
.footer-row .menu .icon-instagram::before,
.footer-row .menu .icon-linkedin::before {
  font-size: 2.4rem;
  color: #AD896C;
  font-weight: 500;
}
.footer-row .menu-list {
  justify-content: center;
}
.footer-row .footer-logo {
  padding-top: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 60%;
}
.footer-row .footer-logo img {
  max-width: 25rem;
}
.footer-row .footer-col {
  width: 30%;
  margin-bottom: 3rem;
}
.footer-row .footer-col .menu {
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer-row .footer-col .menu-list {
  flex-wrap: wrap;
}
.footer-row .footer-col .menu-list__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #23303C;
  text-transform: capitalize;
}
.footer-row .footer-col .menu-list__item {
  width: 100%;
  margin: 1rem 0;
}
.footer-row .footer-col:last-child {
  width: 40%;
}
.footer-row .footer-col:last-child .menu {
  display: flex;
  justify-content: start;
}
.footer-row .footer-col:last-child .menu-list {
  justify-content: start;
  gap: 0;
}
.footer-row .footer-col:last-child .menu-list__item {
  width: 48%;
  margin-right: 0.2rem;
}
.footer-row .footer-col:last-child .menu-list__item img {
  width: 100%;
  max-width: 14rem;
}
.footer-row .footer-col:last-child .footer-content p {
  width: 40rem;
}
.footer-row:last-child .container {
  justify-content: start;
}
.footer-row:last-child .menu {
  width: 30%;
  justify-content: start;
  padding-top: 0;
  padding-bottom: 2.7rem;
}
.footer-row:last-child .menu-list {
  gap: 0 2rem;
}
.footer-row:last-child .footer-content {
  width: 30%;
  margin-bottom: 2rem;
}
.footer-row:last-child .footer-content p {
  word-wrap: none;
}
.list-product {
  display: flex;
  justify-items: center;
  align-items: center;
}
.myproduct {
  position: relative;
  background-color: #ffffff;
  /* max-width: 31.5rem;x */
}
.myproduct-view {
  width: 100%;
  margin-bottom: 15%;
  background-color: rgba(4, 17, 39, 0.15);
  filter: drop-shadow(1px 1px 6px rgba(4, 17, 39, 0.15));
}
.myproduct-view__image {
  width: 100%;
  text-align: center;
}
.myproduct-view__image img {
  width: 95%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}
.myproduct::before {
  content: "";
  position: absolute;
  background-image: url('../image/products/p-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.myproduct-infor {
  padding: 2%;
  padding-top: 0;
}
.myproduct-infor__title {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin: 1.3rem 0 0.8rem 0;
  padding: 0.5rem 0;
}
.myproduct-infor__title h3 {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 2rem;
  color: #23303C;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.myproduct-infor__content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #23303C;
  margin: 0 0 1.5rem 0;
  line-height: 150%;
  padding: 0;
}
.myproduct-infor__content span {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #AD896C;
  text-transform: uppercase;
  padding: 0.5rem 0;
}
.myproduct .icon-heart {
  font-size: 2.4rem;
  font-weight: 500;
  color: #AD896C;
}
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8a8a8a;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 10000;
}
.spinner--hidden {
  opacity: 0;
  visibility: hidden;
}
.spinner::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
.back-top {
  position: fixed;
  width: 5rem;
  height: 5rem;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(113, 113, 113, 0.668);
  border-radius: 1rem;
  bottom: 10%;
  right: 4%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  display: none;
}
.back-top::before {
  position: absolute;
  content: '\ea25';
  font-family: 'icomoon';
  font-size: 2.2rem;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #23303C;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
} 
@media only screen and (max-width: 1440px) {
  html {
    font-size: 52.5%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 48.5%;
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 42.5%;
  }
  .container {
    max-width: 166.4rem;
    padding: 0 7.67%;
    margin: 0 auto;
  }
  .footer .container {
    flex-wrap: wrap;
    justify-content: start;
  }
  .footer .footer-row .footer-col {
    width: 25%;
  }
  .footer .footer-row .footer-col:last-child {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .container {
    max-width: 166.4rem;
    padding: 0 4.77777778%;
    margin: 0 auto;
  }
  .header {
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.4rem;
  }
  .header-logo {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .header-logo img {
    max-width: 28rem;
  }
  .header-right {
    display: block;
    justify-content: end;
    width: 15%;
  }
  .header-right .menu .auth-language {
    display: none;
  }
  .header-right .menu-list {
    gap: 0 1.6rem;
  }
  .header-left {
    gap: 0 2.9rem;
    width: 15%;
  }
  .header-left .menu {
    display: none;
  }
  .header-left .header-logo {
    width: 80%;
    max-width: 20.3rem;
  }
  .header-left .icon-hidden {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0 2rem;
  }
  .footer .footer-row .footer-col {
    width: 100%;
  }
  .footer .footer-row .footer-col.footer-collaps-btn {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(173, 137, 108, 0.1);
  }
  .footer .footer-row .footer-col.footer-collaps-btn .menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .footer .footer-row .footer-col.footer-collaps-btn .footer-title {
    position: relative;
  }
  .footer .footer-row .footer-col.footer-collaps-btn .footer-title::after {
    position: absolute;
    right: 5%;
    top: 50%;
    content: "\ea24";
    font-family: 'icomoon';
    font-size: 2rem;
    font-family: 500;
    color: #23303C;
    transform: translate(-20%, -50%);
  }
  .footer .footer-row .footer-col.footer-collaps-btn.active .menu {
    max-height: 300px;
    transition: max-height 0.2s ease-in;
  }
  .footer .footer-row .footer-col.footer-collaps-btn.active .footer-title::after {
    content: "\e931";
  }
  .main-title h1 {
    font-size: 3.6rem;
  }
  .main-title p {
    font-size: 1.2rem;
  }
  .main-title__small h1 {
    font-size: 2.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main-title__small p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main-link p {
    font-size: 1.2rem;
  }
  .main-link::after {
    font-size: 2rem;
    right: 15%;
  }
  .main-row.guide .container img,
  .main-row.about .container img {
    width: 100%;
  }
  .main-row.guide .container .main-col,
  .main-row.about .container .main-col {
    width: 100%;
  }
  .main-row.guide .container .main-col .main-content,
  .main-row.about .container .main-col .main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .main-row.guide .container .main-col .main-content p,
  .main-row.about .container .main-col .main-content p {
    width: 100%;
    max-width: 100%;
    margin: 2% 0;
  }
  .main-row.guide .container .main-col .main-link,
  .main-row.about .container .main-col .main-link {
    width: 100%;
  }
  .main-row.guide .container .main-col .main-link p,
  .main-row.about .container .main-col .main-link p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #AD896C;
    max-width: 50%;
  }
  .main-row.guide .container .main-col .main-link::after,
  .main-row.about .container .main-col .main-link::after {
    right: 55%;
  }
  .main-row.guide .main-title,
  .main-row.about .main-title {
    text-align: center;
    margin-bottom: 5%;
  }
  .main-row .container.benefits .main-col {
    width: 100%;
    padding: 2% 0;
  }
  .main-row .container.benefits .main-col .icon-globe,
  .main-row .container.benefits .main-col .icon-credit-card,
  .main-row .container.benefits .main-col .icon-calendar {
    display: none;
  }
  .main-row .container.benefits .main-col .main-title {
    width: 60%;
    text-align: center;
  }
  .main-row .container.benefits .main-col .main-title h1 {
    font-size: 2rem;
  }
  .main-row .container.benefits .main-col:last-child {
    margin-bottom: 4%;
  }
  .main-row .best-sellers {
    padding-left: 0;
  }
  .main-row .best-sellers .list-product {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
  }
  .main .myproduct-infor__title h3 {
    font-size: 1.6rem;
  }
  .main .myproduct-infor__content p {
    font-size: 1.2rem;
  }
  .main .myproduct-infor__content span {
    font-size: 1.6rem;
  }
  .main .myproduct .icon-heart {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 540px) {
  html {
    font-size: 62.5%;
  }
  .header-logo img {
    max-width: 20rem;
  }
  .main-row.share {
    display: none;
  }
  .footer .footer-row:last-child .menu {
    width: 100%;
    padding-bottom: 1rem;
  }
  .footer .footer-row:last-child .menu .menu-list {
    justify-content: center;
  }
  .footer .footer-row:last-child .menu .menu-list img {
    max-width: 4.4rem;
  }
  .footer .footer-row:last-child .footer-content {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .footer .footer-row .footer-col:last-child .footer-content p {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  html {
    font-size: 52.5%;
  }
  .header-logo {
    width: 60%;
  }
  .header-logo img {
    max-width: 18rem;
  }
  .header-right {
    width: 20%;
  }
  .header-right .menu {
    justify-content: end;
  }
  .header-left {
    width: 20%;
  }
  .main-row.guide .container .main-col .main-link::after,
  .main-row.about .container .main-col .main-link::after {
    right: 45%;
  }
}
